@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
    <header>
        <div class="container-fluid ">
            <h1 class="display-4 d">¡Planea tu viaje ahora y viaja después!</h1>
        </div>
    </header>
    <div class="container-fluid">
        <section class="main row">
            <article class="col-mx-12 col-md-9 col-lg-6">
                <p>
                    BUSCA VUELOS
                </p>
            </article>
            <aside class="col-mx-12 col-md-3 col-lg-6">
                <p>
                    awdawdawdawdawdawdawdawdawd
                    awdawdawdawdawdawdawdawdawdaw
                    awdawdadadadadadadadadadadad
                </p>
            </aside>
        </section>
    </div>

</body>
    
